@model Fiap.Web.SmartWasteManagement.ViewModels.AgendamentoColetaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AgendamentoColetaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoRecipiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoRecipiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoRota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoRota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
