@model Fiap.Web.SmartWasteManagement.ViewModels.NotificacaoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotificacaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoRecipiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoRecipiente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMorador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoMorador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
